
/* chat-html*/ 

body{
    background-color: rgb(247, 248, 248);
    padding: 70px 0; 
    background-image: url(/images/green.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-link {
    color: white; 
    text-decoration: none;
    padding: 0; 
}

.btn-link:hover{
    color: white;
}

#message{
    border: 1px solid lightgray;
}

/* settings */ 

.container{
    padding: 0; 
}

